**A LIST**

In [1]:
clothes_on_sale=["Trousers","crop tops","sweatpants","hoodies","t-shirts"]
clothes_on_sale

['Trousers', 'crop tops', 'sweatpants', 'hoodies', 't-shirts']

In [3]:
clothes_prices=[250,100,200,300,150]
print(clothes_prices)
print(clothes_prices[0])

[250, 100, 200, 300, 150]
250

In [7]:
two_piece_items=["sweat pant and hoodie","trouser and crop top","sweat pant and t-shirt"]
print(two_piece_items)
clothes_on_sale.append(two_piece_items)
clothes_on_sale
print(type(clothes_on_sale))

['sweat pant and hoodie', 'trouser and crop top', 'sweat pant and t-shirt']
<class 'list'>

**Nested list**

In [9]:
fashion_boutique=[
    ["Trousers","crop tops","sweatpants","hoodies","t-shirts"],
    [250,100,200,300,150]
]
print(fashion_boutique)
fashion_boutique.append(two_piece_items)
fashion_boutique

[['Trousers', 'crop tops', 'sweatpants', 'hoodies', 't-shirts'], [250, 100, 200, 300, 150]]

[['Trousers', 'crop tops', 'sweatpants', 'hoodies', 't-shirts'],
 [250, 100, 200, 300, 150],
 ['sweat pant and hoodie', 'trouser and crop top', 'sweat pant and t-shirt']]

In [12]:
sweatpant_hoodie_price=clothes_prices[2]+clothes_prices[3]
sweatpant_hoodie_price

500

In [14]:
trouser_croptop_price=clothes_prices[0]+clothes_prices[1]
trouser_croptop_price

350

In [18]:
sweatpant_tshirt_price=clothes_prices[2]+clothes_prices[4]
sweatpant_tshirt_price

350

In [20]:
two_piece_items_price=[500,350,350]
two_piece_items_price

[500, 350, 350]

In [22]:
fashion_boutique.append(two_piece_items_price)
fashion_boutique

[['Trousers', 'crop tops', 'sweatpants', 'hoodies', 't-shirts'],
 [250, 100, 200, 300, 150],
 ['sweat pant and hoodie', 'trouser and crop top', 'sweat pant and t-shirt'],
 [500, 350, 350]]

****

**working with dictionaries**

**Rowwise arrangement** - a list of dictionaries

In [34]:
fashion_boutique_rowwise=[
    {
    "trouser":250,
    "crop top":100,
    "trouser_croptop":350,
    "sweatpant":200,
    "hoodie":300,
    "sweatpant_hoodie":500,
    "tshirt":150,
    "sweatpant_tshirt":350
},

 {
    "trouser":500,
    "crop top":150,
    "trouser_croptop":650,
    "sweatpant":300,
    "hoodie":350,
    "sweatpant_hoodie":650,
    "tshirt":200,
    "sweatpant_tshirt":500
},

 {
    "trouser":1000,
    "crop top":300,
    "trouser_croptop":1300,
    "sweatpant":500,
    "hoodie":500,
    "sweatpant_hoodie":1000,
    "tshirt":300,
    "sweatpant_tshirt":800,
}


]
fashion_boutique_rowwise

[{'trouser': 250,
  'crop top': 100,
  'trouser_croptop': 350,
  'sweatpant': 200,
  'hoodie': 300,
  'sweatpant_hoodie': 500,
  'tshirt': 150,
  'sweatpant_tshirt': 350},
 {'trouser': 500,
  'crop top': 150,
  'trouser_croptop': 650,
  'sweatpant': 300,
  'hoodie': 350,
  'sweatpant_hoodie': 650,
  'tshirt': 200,
  'sweatpant_tshirt': 500},
 {'trouser': 1000,
  'crop top': 300,
  'trouser_croptop': 1300,
  'sweatpant': 500,
  'hoodie': 500,
  'sweatpant_hoodie': 1000,
  'tshirt': 300,
  'sweatpant_tshirt': 800}]

**columnwise arrangement** - a dictionary of lists

In [4]:
fashion_boutique_columnwise={
   "trouser_price":[250,500,1000],
    "croptop_price":[100,150,300],
    "trouser_croptop_price":[350,650,1300],
    "sweatpant":[200,300,500],
    "hoodie":[300,350,500],
    "sweatpant_hoodie_price":[500,650,1000],
    "tshirt_price":[150,200,300],
    "sweatpant_tshirt_price":[350,500,800]

}

fashion_boutique_columnwise

{'trouser_price': [250, 500, 1000],
 'croptop_price': [100, 150, 300],
 'trouser_croptop_price': [350, 650, 1300],
 'sweatpant': [200, 300, 500],
 'hoodie': [300, 350, 500],
 'sweatpant_hoodie_price': [500, 650, 1000],
 'tshirt_price': [150, 200, 300],
 'sweatpant_tshirt_price': [350, 500, 800]}

******

**putting data in columnwise into a dataframe**

In [6]:
import pandas as pd
data=fashion_boutique_columnwise
data

{'trouser_price': [250, 500, 1000],
 'croptop_price': [100, 150, 300],
 'trouser_croptop_price': [350, 650, 1300],
 'sweatpant': [200, 300, 500],
 'hoodie': [300, 350, 500],
 'sweatpant_hoodie_price': [500, 650, 1000],
 'tshirt_price': [150, 200, 300],
 'sweatpant_tshirt_price': [350, 500, 800]}

In [8]:
df=pd.DataFrame(data)
df

,trouser_price,croptop_price,trouser_croptop_price,sweatpant,hoodie,sweatpant_hoodie_price,tshirt_price,sweatpant_tshirt_price
0,250,100,350,200,300,500,150,350
1,500,150,650,300,350,650,200,500
2,1000,300,1300,500,500,1000,300,800