In [2]:
def dayofweek(day):
  match(day):
    case 1:
      print("Monday")
    case 2:
      print("Tuesday")
    case 3:
      print("Wednesday")
    case 4:
      print("Thursday")
    case 5:
      print("Friday")
    case 6:
      print("Saturday")
    case 7:
      print("Sunday")

dayofweek(2)

Tuesday

In [4]:
# prompt: match statement including rhe default

def dayofweek(day):
  match(day):
    case 1:
      print("Monday")
    case 2:
      print("Tuesday")
    case 3:
      print("Wednesday")
    case 4:
      print("Thursday")
    case 5:
      print("Friday")
    case 6:
      print("Saturday")
    case 7:
      print("Sunday")
    case _:
      print("Invalid day number")

dayofweek(10)

Invalid day number

In [7]:
def vowelcount(str):
  input("enter a string")
  vowels=['a','e','i','o','u']
  items=list(str)
  for letters in items:
    if(letters in vowels):
      print(len(letters))
vowelcount("people")

enter a stringpeople
1
1
1

In [9]:
# prompt: write a python function that takes a string as input and returns number of vowels in the string

def vowelcount(str):
    vowels = ['a', 'e', 'i', 'o', 'u']
    count = 0
    for char in str.lower():
        if char in vowels:
            count += 1
    return count

vowelcount("people")

3

In [16]:
def sumeven(num):
  num_list=[1,2,3,4,5,6,7,8,9]
  even_sum=0
  for items in num_list:
    if items%2==0:
      even_sum += items

  print(even_sum)

sumeven(num_list)

20

In [17]:
myletters=['b','k','m','p','s','w']
myletters[3:4]

['p']

In [18]:
myletters[0::2]

['b', 'm', 's']

In [20]:
myletters[-3:-1]

['p', 's']

In [21]:
#write a function that calculates the factorial of a given number using a loop

def factorial(n):
  """
  Calculates the factorial of a non-negative integer.

  Args:
    n: The non-negative integer.

  Returns:
    The factorial of n, or 1 if n is 0.
    Returns -1 if n is negative.
  """
  if n < 0:
    return -1  # Factorial is not defined for negative numbers
  elif n == 0:
    return 1
  else:
    fact = 1
    for i in range(1, n + 1):
      fact *= i
    return fact

# Example usage
number = 5
result = factorial(number)
if result != -1:
  print(f"The factorial of {number} is {result}")
else:
  print("Factorial is not defined for negative numbers.")

The factorial of 5 is 120

In [22]:
# prompt: implement a python function that takes a list on numbers using a variable length argument and returns the second largest from the list

def second_largest(*args):
  """
  Finds the second largest number in a variable-length argument list.

  Args:
    *args: A variable-length argument list of numbers.

  Returns:
    The second largest number in the list, or None if the list has fewer than two elements.
  """
  if len(args) < 2:
    return None

  unique_numbers = sorted(list(set(args)), reverse=True)

  if len(unique_numbers) < 2:
    return unique_numbers[0]
  else:
    return unique_numbers[1]

In [29]:
def secondlargest(*num):
  num=[16,2,100,49,5]
  num.sort()
  print(num[-2])
  return num[-2]
secondlargest(1,2,3,4,5)

49

49