In [6]:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [12]:
#uploading the  csv file
df=pd.read_csv("mentalhealth_dataset.csv")
#displaying the dataframe
df

,Timestamp,Gender,Age,Course,YearOfStudy,CGPA,Depression,Anxiety,PanicAttack,SpecialistTreatment,SymptomFrequency_Last7Days,HasMentalHealthSupport,SleepQuality,StudyStressLevel,StudyHoursPerWeek,AcademicEngagement
0,13/07/2020,Female,24,Biotechnology,Year 3,2.38,1,0,0,0,5,0,4,5,8,2
1,13/07/2020,Female,18,Biotechnology,Year 3,4.00,0,1,0,0,0,0,4,4,13,5
2,13/07/2020,Female,25,Biotechnology,Year 3,3.68,0,0,1,0,3,0,1,2,13,1
3,13/07/2020,Female,18,Engineering,year 4,4.00,0,0,0,0,3,0,5,1,19,2
4,13/07/2020,Female,20,Engineering,year 4,2.00,1,1,0,0,0,0,2,4,3,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,09/07/2023,Female,20,KOE,year 1,2.31,0,1,0,0,6,0,1,3,7,1
996,09/07/2023,Female,23,Engineering,year 1,3.72,1,0,0,0,3,0,4,1,12,2
997,09/07/2023,Female,19,Human Sciences,Year 2,2.00,0,0,1,0,1,0,5,4,3,1
998,09/07/2023,Female,24,Human Sciences,Year 2,3.89,1,0,1,0,5,0,5,4,13,3
999,09/07/2023,Female,20,Human Sciences,Year 2,2.46,1,0,0,0,0,0,2,5,8,1

In [14]:
#viewing top 5 rows
df.head(5)

,Timestamp,Gender,Age,Course,YearOfStudy,CGPA,Depression,Anxiety,PanicAttack,SpecialistTreatment,SymptomFrequency_Last7Days,HasMentalHealthSupport,SleepQuality,StudyStressLevel,StudyHoursPerWeek,AcademicEngagement
0,13/07/2020,Female,24,Biotechnology,Year 3,2.38,1,0,0,0,5,0,4,5,8,2
1,13/07/2020,Female,18,Biotechnology,Year 3,4.00,0,1,0,0,0,0,4,4,13,5
2,13/07/2020,Female,25,Biotechnology,Year 3,3.68,0,0,1,0,3,0,1,2,13,1
3,13/07/2020,Female,18,Engineering,year 4,4.00,0,0,0,0,3,0,5,1,19,2
4,13/07/2020,Female,20,Engineering,year 4,2.00,1,1,0,0,0,0,2,4,3,2

In [16]:
#viewing bottom 5 rows
df.tail(5)

,Timestamp,Gender,Age,Course,YearOfStudy,CGPA,Depression,Anxiety,PanicAttack,SpecialistTreatment,SymptomFrequency_Last7Days,HasMentalHealthSupport,SleepQuality,StudyStressLevel,StudyHoursPerWeek,AcademicEngagement
995,09/07/2023,Female,20,KOE,year 1,2.31,0,1,0,0,6,0,1,3,7,1
996,09/07/2023,Female,23,Engineering,year 1,3.72,1,0,0,0,3,0,4,1,12,2
997,09/07/2023,Female,19,Human Sciences,Year 2,2.00,0,0,1,0,1,0,5,4,3,1
998,09/07/2023,Female,24,Human Sciences,Year 2,3.89,1,0,1,0,5,0,5,4,13,3
999,09/07/2023,Female,20,Human Sciences,Year 2,2.46,1,0,0,0,0,0,2,5,8,1

In [18]:
df.describe()

,Age,CGPA,Depression,Anxiety,PanicAttack,SpecialistTreatment,SymptomFrequency_Last7Days,HasMentalHealthSupport,SleepQuality,StudyStressLevel,StudyHoursPerWeek,AcademicEngagement
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.0000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,21.402000,3.122530,0.483000,0.474000,0.458000,0.067000,3.4980,0.067000,2.983000,3.045000,9.746000,3.055000
std,2.373611,0.810961,0.499961,0.499573,0.498482,0.250147,2.3081,0.250147,1.417999,1.417386,5.651497,1.422673
min,18.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000,1.000000,1.000000,1.000000,1.000000
25%,19.000000,2.250000,0.000000,0.000000,0.000000,0.000000,1.7500,0.000000,2.000000,2.000000,5.000000,2.000000
50%,21.000000,3.250000,0.000000,0.000000,0.000000,0.000000,3.0000,0.000000,3.000000,3.000000,9.000000,3.000000
75%,24.000000,4.000000,1.000000,1.000000,1.000000,0.000000,6.0000,0.000000,4.000000,4.000000,15.000000,4.000000
max,25.000000,4.000000,1.000000,1.000000,1.000000,1.000000,7.0000,1.000000,5.000000,5.000000,19.000000,5.000000

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Timestamp                   1000 non-null   object
 1   Gender                      1000 non-null   object
 2   Age                         1000 non-null   int64
 3   Course                      1000 non-null   object
 4   YearOfStudy                 1000 non-null   object
 5   CGPA                        1000 non-null   float64
 6   Depression                  1000 non-null   int64
 7   Anxiety                     1000 non-null   int64
 8   PanicAttack                 1000 non-null   int64
 9   SpecialistTreatment         1000 non-null   int64
 10  SymptomFrequency_Last7Days  1000 non-null   int64
 11  HasMentalHealthSupport      1000 non-null   int64
 12  SleepQuality                1000 non-null   int64
 13  StudyStressLevel            1000 non-null   int64
 14  StudyHoursPerWeek           1000 non-null   int64
 15  AcademicEngagement          1000 non-null   int64
dtypes: float64(1), int64(11), object(4)
memory usage: 125.1+ KB

In [22]:
df.shape

(1000, 16)

In [24]:
df.isnull()#no null value

,Timestamp,Gender,Age,Course,YearOfStudy,CGPA,Depression,Anxiety,PanicAttack,SpecialistTreatment,SymptomFrequency_Last7Days,HasMentalHealthSupport,SleepQuality,StudyStressLevel,StudyHoursPerWeek,AcademicEngagement
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
996,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
997,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
998,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
999,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [26]:
df.duplicated()#no duplicates

0      False
1      False
2      False
3      False
4      False
       ...
995    False
996    False
997    False
998    False
999    False
Length: 1000, dtype: bool