**Membership operators**

In [11]:
x="university"
if ("e" in x):
    print("letter e found")

letter e found

In [7]:
if ("w" not in x):
    print("letter w not found")
else:
    print("letter w  found")

letter w not found

In [9]:
a=10
b=8
if (a is b):
    print("a is same as b")

else:
    print("a is not b")

a is not b

In [15]:
items=["book",2,45,"pen"]
"x" in items

False

In [19]:
"book" in items

True

**Decision Structures**

In [28]:
x=17
if(x>18):#if you only use if there will be no output, so you must include else
    print("An adult")
else:
    print("A minor")

A minor

In [37]:
x=17
gender="female"
if(x>18):#if you only use if there will be no output, so you must include else
    print("An adult")
    if(gender == "female"):
        print("female hostel")
    else:
        print("male hostel")  
else:
    print("A minor")

A minor

**SWITCH/MATCH STATEMENT**

In [5]:
rating=int(input("enter rating"))
match(rating):
    case 1:
        print("poor")
    case 2:
        print("fair")
    case 3:
        print("good")
    case 4:
        print("very good")
    case 5:
        print("excellent")
    case _:
        print("invalid")

enter rating 7

invalid

**WHILE STATEMENT**

In [18]:
m=0
while(m<10):
    m+=1
    print(m)

1
2
3
4
5
6
7
8
9
10

**using for statement in iterables(string,dict,list,,tuple)**

In [3]:
x="university"
for t in x:
    print(t)

u
n
i
v
e
r
s
i
t
y

In [8]:
for t in range(5):
    print(t)

0
1
2
3
4

In [10]:
for t in range(5,10):
    print(t)

5
6
7
8
9

In [12]:
for t in range(1,10,2):
    print(t)

1
3
5
7
9

In [16]:
m=0
while(m<10):
    m+=1
    if(m==5):
        continue
    print(m)

1
2
3
4
6
7
8
9
10

In [22]:
m=0
while(m<10):
    m+=1
    if(m==5):
        break
        print("end of loop")
    print(m)

1
2
3
4

In [28]:
balance=1500
if(balance<1000):
    print("insuffient balance")
else:
    print("enough balance")

enough balance

In [30]:
balance=1500
if(balance<1000):
    print("insuffient balance")
else:
    pass #used when you need to leave the code blank

In [11]:

rows=0 #initialization of rows
while(rows<5): #condition 
    cols=0#initialization of cols
    while(cols<rows):
       print( "*",end="" )
       cols+=1
    print("")
    rows+=1

*
**
***
****

In [ ]:
rows=0 #initialization of rows
while(rows<5): #condition 
    cols=0#initialization of cols
    while(cols<rows):
       print( "*",end="" )
       cols+=1
    print("")
    rows+=1

iter object is created out of a sequence
myiter=iter(fruits)#created an iterator out of a sequence
print(next(myiter))#used to fetch the next item
#iterator has a function next() to fetch the next item

In [26]:
squares=[]
for x in range(5):
    squares.append(x**2)
    print(squares)

[0]
[0, 1]
[0, 1, 4]
[0, 1, 4, 9]
[0, 1, 4, 9, 16]

In [17]:
square=(x**2 for x in range(5))#this can't be printed. you need to call it using next()
print(next(square))

0

In [20]:
print(next(square))

1

In [22]:
print(next(square))

4

In [24]:
print(next(square))

9