print hello world

In [4]:
print("Hello, World")

Hello, World

printing output, the function print() is also used to print the value of the variable.

In [11]:
name="Lenny"
print("My name is", name)#don't forget the comma before name

My name is Lenny

print multiple variables using the following cascading form of the print()function

In [29]:
name="Lenny"
age="20"
religion ="christianity"
print("i am",name,".",age,"years old.","my religion is",religion)

i am Lenny . 20 years old. my religion is christianity

print without newline using end=" " parameter

In [35]:
#this prints two separate lines
print("hello")
print("world")
#but this prints without a new line
print("hello",end=" ")
print("world")

hello
world
hello world

In [49]:
print("hello",end=" i'm ")# inside the end parameter you can add any value
print("Lenny")

hello i'm Lenny

Comments. 
Python has 3 types of comments;
1.single-line comment
2.multi-line comment
3.docstring comment

In [58]:
#This is a single line comment, it follows a hash(#)

In [92]:
"""
this is a multi-line comment
it is written between a set of 3 quotes 
"""
print("hello")

hello

In [78]:
'''
name = 'Kelly Hu'
age = 30
city = "Brentwood"
'''

print("Hello, World!")

Hello, World!

docstring comment,always the first statement inside the construct(class,function or module). Accessible at runtime using .__doc__ attribute or help().

In [98]:
def greet(name):
    """
    Greets a person by their name.

    Parameters:
    name (str): The name of the person.

    Returns:
    str: A greeting message.
    """
    return f"Hello, {name}!"

key differences between doctrings and multiline is that docstrings are meant for documentation and are tied to functions,classes or modules while
multiline comments are ignored texts meant for exlaining or clarifying the code and they aren't tied to any specific construct

In [102]:
# This function greets the user
# It takes a name as input and returns a greeting message
def greet(name):
    return f"Hello, {name}!"

Variables, there is no keyword to declare a variable in python. They are created when you assign values to them

In [107]:
name="Lenny"
religion="Christianity"
print(name)
print(religion)

Lenny
Christianity

Specifying variable's data type using the type casting with the help of built-in functions eg str(), float(), int(), etc

In [110]:
a=str(123)
b=int(123)
c=float(123)

print(type(a))
print(type(b))
print(type(c))

<class 'str'>
<class 'int'>
<class 'float'>

So the type() function is used to print the data type of a variable or an object

In [114]:
name="Lenny"
print(name,"is the type of",type(name))

Lenny is the type of <class 'str'>

In [118]:
age=2
print(age,"is the type of", type(age))

2 is the type of <class 'int'>

In [120]:
num=4.3
print(num,"is the type of",type(num))

4.3 is the type of <class 'float'>

In [122]:
num=4j
print(num,"is the type of",type(num))

4j is the type of <class 'complex'>

Assign multiple values to variables

In [127]:
name,age,city="Kelly",23,"Brentwood"
print(name,end=" ")
print(age)
print(city)

Kelly 23
Brentwood