Strings

Quotes Inside Quotes-You can print quotes as a string using print()function

In [30]:
print("I am 'Lenny'")#Use a backslash (\) to escape special characters (like double quotes, single quotes, etc.) in strings. 
#This prevents Python from misinterpreting them.
print("I am \"Lenny\"")
print('I am "Lenny"')
print('I am \'Lenny\'')

I am 'Lenny'
I am "Lenny"
I am "Lenny"
I am 'Lenny'

Multiline Strings,
Python does it by using three single or double quotes

In [36]:
a='''I'm lenny
I'm a student
I study Data Science'''
print(a)
b="""I'm currently learning Python
Actually i'm a python enthusiast
"""
print(b)

I'm lenny
I'm a student
I study Data Science
I'm currently learning Python
Actually i'm a python enthusiast

Slicing strings- this can be done either by using start or end index, separated by a colon inside square brackets

In [81]:
text="hello, world"
print(text[0])
print(text[5])
print(text[6])
print(text[7])
print(text[8])
print(text[11])
print(text[0:4])
print(text[0:5])
print(text[0:])
print(text[:13])
print(text[:5])
print(text[-1])
print(text[-5:])
print(text[-5:-1])
print(text[-12:])

h
,

w
o
d
hell
hello
hello, world
hello, world
hello
d
world
worl
hello, world

String Concatenation- using addition of variable names

In [88]:
name="Lenny"
city="Brentwood"
person=name+ " "+city
print(person)

Lenny Brentwood

String Format- using python f-string

In [101]:
name="Lenny"
city="Brentwood"
person=f"My name is {name},I live in {city}"
p=f"{name} {city}"
print(person)
print(p)

My name is Lenny,I live in Brentwood
Lenny Brentwood